mport url("fonts.css");

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
 

@page,
page {
  size: A4;
  margin: 0;
}

html, body {
    width: 210mm;
    height: 297mm;
    font-family:  "DejaVu", "DejaVu Sans", "Arial", "Helvetica";
    margin: 55mm 55mm 55mm 55mm;  
} 

.page-break
    {
    page-break-before:always;
    } 


h1 {
	color: blue;
	  page-break-before: always;
}

h2 {
	color:  blue;
	page-break-before: always;
}


h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}


p {
	margin-bottom: 2mm;
}