/* @override http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css */

/* @override http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css */

/* @override http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css */

/* @override http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css */

/* @override http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css */

/* @override 
	http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css
	http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css
	http://ny.medialog.no/globeracer/++theme++globalracer/css/globalracer.css
	http://ny.medialog.no/++theme++globalracer/css/globalracer.css
*/

@font-face {
  font-family: 'Graphik LCG Web';
  src: url('fonts/Graphik-Light.otf');
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('fonts/Graphik-Semibold.otf');
}

.hidden {display : none;}

.hiddenStructure,
#portal-searchbox,
button.plone-navbar-toggle,
#above-content-wrapper,
figcaption.discreet {
	display:  none;
}

#main-container {
	clear: both;
	max-width: 100%;
	xpadding-top: 2.5em;
 
}

 
.slidetext-container  {
	position: absolute;
    background:  none;
    z-index: 11;
    top:  3em;
    right: 2em;
    width: 50%;
    text-align: right;
    line-height: 200%;
}



h2.teaser {
	line-height:160%;
 
	margin-bottom: 0;
}

.flex {
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.portaltype-easyform #main-container {
	 margin: auto;
	max-width: 1200px;
	display: flex;
}

div.colorboxes.flex {
	margin-top: 3em;
	margin-bottom: 3rm;
}

label.horizontal {
font-size: 90%	;
text-align: left;
}



#sidebar {
	margin-left: auto;
}

.textarea-widget,
.textline-field {
	padding-left: 10px;
	font-size: 128%;
	min-width: 600px;
}

 
form#form.rowlike.pat-formunloadalert  {
	text-align: left;
}



 
div.icon {
	min-width: 200px;
    font-size: 300% !important;	
    width: 33%;
    max-width: 800px;
}

div.infobox {
	color:  white;
	background-position: center center;
	background-color: black;	
}


div.infobox a{
 color:  white;
 border-color: white;
 
}

div.infobox-text {
	padding: 5em;
	background-color: rgba(0,0,0,0.4771973);
}

div.infobox-text:hover {
	background-color: rgba(0,0,0,0.1768799);

}


div.flex.six_icons {
	margin-top: 2em;
	margin-bottom: 2em;
}

div.colorbox h3 {
	text-transform: capitalize;
	font-weight: bold;
	 font-family: 'Graphik LCG Web', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	 margin-bottom: 0;
	 line-height: 120%;
}

div.colorbox  p {
	font-size: 90%;
	line-height: 126%;
}

 
 span.bigicon {
	clear: both;;
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #333;
	color:  white;
	line-height: 100px;
	font-size: 60px;
	margin:  15px;
}

div.bulletmath{
	padding: 30px;
}


 div.iconbox i,
 div.colorbox  i {
	
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: #333;
	color:  white;
	line-height: 80px;
	font-size: 40px
}

 div.iconbox i.lightgreen {
	background-color: #ecfdf8;
	color:  black;
}

.iconbox p{
	margin-top: 4px;
}

.iconbox h5 {
	margin-top: 13px;
}

.iconbox.neg i,{
	color: black !important;
	background: white;
}

div.iconbox.neg  i{
	color: black !important;
	background: white;
}

 


.roundbutton {
	padding: 0 30px;
	border:  2px solid #666;
	border-radius: 26px;
	line-height: 32px;
	color:  black;
	text-decoration: none;
	font-size: 80%;;
	display: box;
	display: inline-block;
	margin-top: 5px;
}

#form-buttons-submit {
		background-color: #00d694;
	border:  0 none;
	margin-top:  1em;
	padding: 0.6em 1.7em;
	border-radius: 20px;
	font-size: 100%;
 
}
.greenbutton {
	background-color: #00d694;
	border:  0 none;
	margin-top:  1em;
	margin-bottom: 4em;;
}



.accordian_title {
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center
}

.accordian_title div{ 
width: 33%;
}

.accordian_hidden {
	display: none;
	padding: 40px;
}

 
a.roundbutton:hover {
    background:  #333;
    color: white;
    border-color: #111;
}


div.colorbox,
div.flex.six_icons div.icon   {
	box-sizing: border-box;
	padding: 30px 20px 20px 40px;
	max-width: 800px;

    
	
}

colorbox.grey i{
	font-size: 1em;
}


.lightred {
	background-color: #ff9d9a;
}

.lightgreen {
	background-color: #ecfdf8;
}

.green {
		background-color: #abfcd4;

}

.greybox,
.grey {
	background-color: #efefef;
}
.greybox {
	display: block;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 2em;
	
}
.greybox .iconfont {
	font-size: 3em;
	margin-top: 0.3em;
	
}
.yellow {
	background-color: #fced27;
}

.cyan {
	background-color: #57d8ff;
}


 
body {
	line-height: 150%;
}
html,
body {
	padding: 0;
	position:  relative;
	margin: 0;
	  font-family: 'Graphik LCG Web', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;

}

header#content-header {
	background: black;
	color: white;
	display: block;
	min-height: 3.2em;
	overflow: hidden;

}

div#portal-mainnavigation a ,
#portal-footer-wrapper a{
	color:  white;;
	text-decoration: none;
	
}

 

header ul {
    padding: 0;
	text-decoration: none;
	list-style-image: none;
	list-style-type: none;
}

#portal-globalnav  {
	display:  block;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 107%;
		line-height: 3em;
}
#portal-globalnav li   {
	float: right;
	margin-right: 1.5em;
}

#portal-globalnav  #portaltab-index_html {
	float: left;
}

#portal-globalnav  #portaltab-index_html a {
	width: 300px;
	background: url(logo.png);
	background-size: 70%;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	text-indent: -999em;
	
}
 
#portal-globalnav li  {
	display: inline-block;

}

#main-container aside.portlet.portletNavigationTree {
	background: whitesmoke;
	min-height: 30px;
	padding: 2px 10px 25px;
	
}
	
#main-container  aside.portlet.portletNavigationTree li {
	list-style-image: none;
	list-style-type: none;
	border-right: 1px solid silver;
	padding: 3px;
		float: left;
	padding: 0 20px;
	border-right: 1px solid black;
}

aside.portlet.portletNavigationTree a{
	color:  black;
	text-decoration: none;
	

	
}
#mainnavigation-wrapper a h1 {
	float: left;
	margin: 0;
	padding: 3px 20px;
}


#portal-footer-wrapper {
	background: black;
	color: white;
}
.row {
	clear: both;
}

.mosaic-grid-cell, 
.mosaic-width-full  {
	max-width:1200px;
	margin-left: 2em;
	margin-right: 2em;
	display:  block;
	clear:both;
 min-height: 1px;
 width: 100%;
  box-sizing: border-box;

}

.text-on-image {
	display: relative;
}
.text-on-image div.half {
	width: 100% ;
	position: relative;
	padding: 0;
}


div.flex.text-on-image {
	position: relative;
}

.text-on-image div.half.bodytext {
	z-index: 3;
	top:  2em;
	right: 4em;
	position: absolute;
	color:  white;;
}

.text-on-image div.half.bodytext h1 {
	font-size: 2.4em; 
   font-family: 'Graphik LCG Web', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}




.half {
  width: 50%;
  box-sizing: border-box;
  padding:  30px 30px 30px 30px;
  text-align: left;
}

.left .half {
	padding-right: 0;
}
.right div.half {
	padding-left: 0;
}




div.left .half.bodytext {
	padding-right: 30px;
	padding-left: 0;
}

.left.dark div.half.bodytext {
   padding-left: 4em;	
}

div.right .half.bodytext {
	padding-left: 30px;
	padding-right: 0px;
}


.mosaic-width-half  {
	box-sizing: border-box;
	margin: auto;
}

body.template-layout.portaltype-document.site-globeracer.section-forside .mosaic-grid-cell  {
	
	xmax-width: 100%;
	
}

.flex.right, 
div.mosaic-grid-row.odd  {
	 flex-direction: row-reverse;
}

.dark {
   background: black;
   color: white;	
}

.dark .bodytext {
   padding-top : 4em;
   padding-left:  5em;;	
}


div.darker {
	background: whitesmoke;
}


section#main-slider.no-margin {
 
	position: relative;
	margin-left: -2em;
	margin-right: -2em;
}

div#rslides1_s2.fillme,
div#rslides1_s1.fillme,
section#main-slider img {
	width: 100%;
	height: auto;
}

div.mosaic-grid-row,
#portal-footer.container .col-xs-12 {
	clear: both;
	position: relative;
	margin: auto;
	text-align: center;
	display: flex;
	 justify-content:  center;
}
div.mosaic-grid-row {
	max-width: 1200px;
	clear: both;
}


#content div.mosaic-grid-row:nth-child(1){
	max-width: 100%;
 
}


.mosaic-width-third {
    width: 33.2%;
 margin-bottom: 2em;
 margin-right: 0;
 margin-left: 0;
 box-sizing: border-box;
 
}

div.mosaic-grid-cell.mosaic-width-third.mosaic-position-third {
	 margin-right: 1em;
 margin-left: 1em;
}

#portal-footer p,
#portal-footer header {
	text-align: left;
}

#portal-footer .portletWrapper{
	width: 270px;
	display: block;
	padding: 1em 0;
	
}

#portal-footer {
	background-color: #323232;
}

header.portletHeader {
	font: normal normal 130% 'Graphik Bold', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}



#portal-footer ul {
	padding: 0;
} 
#portal-footer li {
	text-align: left;
	list-style-image: none;
	list-style-type: none;
}

 div.top_teaser  {
	position: relative;
	width: 100%;
	max-width: 900pt;
	margin: auto;
}

 
 div.top_teaser .imagetext {
	position: absolute;
	right: 50pt;
	top:  50px;
	width: 250pt;
	text-align: right;
	color: whitesmoke;
	z-index: 9;
 
}

 div.top_teaser .imagetext h1{
 	margin: 0 0 10pt;
    text-align: right;
 
 
}

 div.imagetext div.documentDescription {
	line-height: 130%;
}




.slidetext h1 { 
    font-size: 4vw;
    line-height: 4vw;
	text-shadow: rgba(0, 0, 0 , 0.9)  0px 0px 40px;
}

@media screen and (min-width: 1600px) {
 
.slidetext h1 { 
    font-size: 44pt;
 
}

 

.slidetext-container li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .slidetext-container li div h3 { font-size: 80px }
}

@media (max-width: 768px) {


.mosaic-grid-cell, 
.mosaic-width-full  {
	 margin-left: 0.5em;
	margin-right: 0.5em;
}

div.slidetext-container  {
	position: relative;
    top:  0;
    left: 0;
    right: 0;
	width: 100%;
	text-align: center;
	background:  #000;
	padding: 1em 0;
	line-height: 1.7em;
	margin: 0;
	font-size: 85%;
}
div.mosaic-grid-row,
div.mosaic-grid-cell {
	width: auto;
	box-sizing: border-box;
}



div.colorbox {	
	box-sizing: border-box;
}
 
body .flex {
    flex-direction: column; 
     justify-content:  center ;
      -webkit-flex-direction: column;
   
   }

div.icon {
	margin: auto;
}
 

#content div.mosaic-grid-row  {
	
	flex-direction: column;
	text-align: center

}

.mosaic-width-third {
   width: 100%;
   margin-bottom: 0;
}


}

.mosaic-width-third .iconfont {
	font-size: 300%;
	margin:  0.5em 0 0;
}

.mosaic-width-third p {
	margin: 1.4em;
}




/* Text */

h1 {
	  font-family: 'Graphik Bold', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
    margin-bottom: 0.3em;
	
}


h1.documentFirstHeading {
	font-family: 'Graphik Bold', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	font-size:  240%;
	line-height: 110%;
	margin: 0.4em;
}

h2 {
	margin-top:  0.5em;
	font-size: 135%;
	font-weight: normal;
}

h2.headline a {
	color:  black;
	text-decoration: none;
	font-weight: bold;
	
}

p {
	font-size: 95%;
	line-height: 135%;
	font-family: 'Graphik', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #555;
}


h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 200%;
	line-height: 120%;
	letter-spacing: 1px;
}


h5 {
	font-size: 130%;
	margin-bottom: 0
}

div.documentDescription {
	line-height: 140%;
	font-size: 150%;
}



article#content {
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: 3em;
	padding-left: 20px;
	padding-right: 20px;
}

.section-forside article#content  {
	margin-top: 0;
	padding: 0;
}

#content-core figure.image-product a.discreet img {
	z-indexwidth: 100%;
	height: auto;
	
}

figure.image-product {
	max-width: 100%;
	margin: 0;
}

#parent-fieldname-text h1 {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}
img.image-left {
	float:  left;
	margin: 0.5em 2em  1em 0;
}

img.image-right {
	float:  right;
	margin: 0.5em 0 1em 2em;
}

 
.template-document_view article#content {
		text-align: left;
		max-width: 1000px;
		margin: auto;
		padding-left: 55px;
		padding-right: 55px;
	
}

p.more {
	margin-top: 7px;
	margin-bottom: 2em;
	font-weight: bold;
}
a {
	color: #2c6baa;
	text-decoration: none;
}

 
.mosaic-plone\.app\.standardtiles\.html-tile div.mosaic-tile-content  {
	text-align: left;
}

#content div.mosaic-grid-row.mosaic-grid-row-dark {
	clear: both;
}

.mosaic-grid-row-dark div.mosaic-grid-cell  {
	background: black;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	color:  white;
}

#content div.mosaic-grid-row div.mosaic-grid-cell.mosaic-width-quarter {
	padding-right: 1em;

}

#content div.mosaic-grid-row div.mosaic-grid-cell.mosaic-width-quarter {
	padding-right: 1em;

}

#content div.mosaic-grid-row div.mosaic-grid-cell.mosaic-position-three-quarters {
	padding-right: 2em;
 
}

 
table.mce-item-table {
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	border-collapse: collapse;
}

div.mosaic-grid-row.mosaic-grid-row-dark table.mce-item-table {
	border:  0;
}


 
.section-forside table.mce-item-table td {
	background: #daeff6;
	border:  5px solid white;;
	border-style: solid;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 90%;
}

 
@media (max-width: 750px) {
	.half,
	body .mosaic-width-half  {
	width: 100%;
	padding: 0 !important ;
	margin: 1em auto;
}
.slidetext h1 {
	 font-size: 16pt
}

}

 
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
  
  .fillme {
	width: 100%;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
 

.slidetext-container h1 {
	font-size: 2.8em;
	padding: 0;
	margin: 0;
}


.slidetext h1,
.slidetext h3{
	color:  white;
	margin: 0;
	position: relative;
	margin-bottom: 0.2em;
}

#main-slider ul.rslides_tabs {
	position: relative;
	z-index: 9;
	bottom:  70px;
	text-align: center;
	list-style-image: none;
	list-style-type: none;

}

 

#topslider {
	position: relative;
	color:  white;
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 2em;
}

section#topslider div.slidetext-container {
	margin: auto;
	text-align: center;
	left: 0;
	top:  8em;;
 }
	
	
	
#main-slider ul.rslides_tabs li {
	margin: 0 4px;
	padding: 0;
	display: inline;
	}
#main-slider ul.rslides_tabs li a{
	background-color: #777;
	border-radius: 50%;
	padding: 0px;
	width: 0.7em;
	height: 0.7em;
	margin: 0 0.4em;
	display: inline-block;
	text-indent: -999em;
}

#main-slider  ul li.rslides_here a {
    background-color: white;
	color:  white;;
}


#main-slider .prev, #main-slider .next {
    border-radius: 4px;
    color: none;
    display: inline-block;
    height: 100%;
    line-height: 40px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 0%;
    width: 49%;
    z-index: 5;
}
 
#main-slider .prev {
    left: 10px;
}
#main-slider .next {
    right: 10px;
}


@media (min-width: 768px) {
	
	#main-slider .prev, #main-slider .next {
	display: none;
	}
	

}


 @media (max-width: 768px) {

ul.rslides_tabs.rslides1_tabs {
 	display: none;
 
 }